body {
   background-image: url("./snow.jpg");
   min-height: 98vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center, 0;
}

.count p {
   font-size: xxx-large;
   font-weight: bold;
   margin-bottom: 20px;
}

#container {
   width: 40%;
   display: flex;
   margin: auto;
   justify-content: center;
   padding-top: 50px;
}

.count {
   display: inline-block;
   position: relative;
   margin: auto;
   width: auto;
   text-align: center;
}

.count span {
   font-size: 17px;
}

h1 {
   font-weight: normal;
   width: 50%;
   margin: auto;
   text-align: center;
   padding-top: 150px;
}